<!DOCTYPE html>
<html>
<head>
    <title> View all Songs</title>

</head>
<body>
<h1>All Songs(By Title)</h1>

<br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Length</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Track Number</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i <songs.length;i++){%>
    <tr>
        <td align = 'center'><%= songs[i].song_id %></td>
        <td><%= songs[i].title %></td>
        <td align = 'center'><%= songs[i].length%></td>
        <td align = 'center'><%= songs[i].artist %></td>
        <td align = 'center'><%= songs[i].album %></td>

        <td align = 'center'><%= songs[i].track_number %></td>
        <td align = 'center'>
            <a href='/song/edit/?song_id=<%= songs[i].song_id%>'>
                Edit
            </a>
            &nbsp;  <a href='/song/delete/?song_id=<%= songs[i].song_id %>'>
                Delete
            </a>
        </td>
    </tr>
    <% } %>
</table>
<a href="/song/add">Add New Song</a>
<br/><br/>
<br/><a href="/">Return to Homepage</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>
</html>